@use "variables.scss";

h1, h2 {
  color: variables.$renuo-base-color;
  text-align: center;
}

a.btn.btn-info {
  background-color: variables.$renuo-base-color;
  border-color: white;
  color: white;
  margin: 0px auto 20px;
  display: block;
  width: fit-content;
  &:hover {
    background-color: variables.$renuo-base-color-dark;
  }
  &:active {
    color: white;
  }
}

a:not(.btn) {
  color: variables.$renuo-base-color;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}