@use "variables.scss";

h1, h2 {
  color: variables.$renuo-base-color;
  text-align: center;
}

a.btn.btn-info {
  background-color: variables.$renuo-base-color;
  border-color: white;
  color: white;
  border-radius: 4px;
  margin-bottom: 20px;
  &:hover {
    background-color: variables.$renuo-base-color-dark;
  }
  &:active {
    color: white;
  }
}

a {
  color: variables.$renuo-base-color;
  text-decoration: underline;
  &:hover {
    cursor: pointer;
  }
}